unsigned Seed      = 0;
int      Runs      = 1;
int      T         = 1000;
  
int      n         = 4;
int      G         = 50;  
int      K         = 4;
  
double   b         = 4;  
double   cx        = 0.5;
double   cy        = 0.25;
double   cz        = 0.25;     
  
double   k         = 0.5;
double   delta     = 0.1;  
double   Theta     = 0.3;

double   V1        = 0.0;
double   V2        = 0.0;
double   V3        = 0.5; 
double   m         = 0.1;

double   x0        = 1;
double   X0        = 1;  

double   s0        = 0.5;
double   s1        = 0.6;
double   Lambda    = 0.4;

double   Sigma     = 0.1;
